* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: 'Poppins';
}


.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.navbar {
    display: flex;
    font-size: medium;
    background-color: #186F65;
    align-items: center;
    position: fixed;
    padding: 10px 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-decoration: none;
}

.navbar .navbar-nav {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
}

.navbar .nav-item {
    font-weight: bold;
    float: left;
    padding-right: 30px;
}

.navbar .nav-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-link:hover {
    color: #65C18C;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #186F65;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-weight: bold;
    right: 0;
    padding: 12px 16px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    border: none;
}

.dropdown-content a {
    color: white;
    background-color: #65C18C;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    color: white;
    background-color: #186F65;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown button {
    border: none;
    background: transparent;
    padding: 0;
}

.title {
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
}

.kolom {
    color: #186F65;
    font-size: smaller;
    text-align: center;
}

.isi {
    font-size: smaller;
    text-align: center;
}

.btn {
    color: #65C18C;
    border-color: lightgray;
}

.btn:hover {
    color: white;
    background-color: #65C18C;
    border-color: #65C18C;
}

.btn-ubah {
    width: 80px;
    background-color: #65C18C;
    color: white;
}

.btn-ubah:hover {
    background-color: #186F65;
}

.footer {
    font-size: 14px;
    padding-bottom: 20px;
    position: relative;
    color:#186F65;
    background-color: #F3F8F7;
}

.footer .footer-top {
    padding-left: 2%;
    padding-top: 2%;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul i {
    margin-right: 3px;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    display: inline-block;
    line-height: 1;
}

.footer .footer-contact p {
    margin-bottom: 5px;
}

.footer .footer-bottom {
    padding-left: 35%;
}

.footer .copyright p {
    margin-bottom: 0;
}

.footer .credits {
    font-size: 13px;
}

.d-flex:hover {
    font-weight: bold;
}
